<% include ../../views/header %>
<link href="css/main.css" rel="stylesheet" type="text/css" />
  <link rel="preload" as="style" href="../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
  <link rel="preload" as="style" href="../assets/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="preload" as="style" href="../assets/bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../assets/tether/tether.min.css">
  <link rel="stylesheet" href="../assets/theme/css/style.css">
  <link rel="preload" as="style" href="../assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="../assets/mobirise/css/mbr-additional.css" type="text/css">

<div id="">

  <div class="">
    <p>
			마이크 버튼을 누르면 음성을 텍스트로 변환합니다.
    </p>
    <div id="result">
      <span class="final" id="final_span"></span>
      <span class="interim" id="interim_span"></span>
    </div>
    <button id="btn-mic" class="off">마이크 <span></span></button><br><br>
    
    
    <textarea rows="6" cols="39" name="final_span2" id="final_span2" placeholder="텍스트를 입력하고 음성변환 버튼을 누르세요."></textarea><br>
    

    <button id="btn-tts">　　음성변환　　</button>
		<br><br>
		</ul>
  </div>
</div>

<script src="js/main.js"></script>