<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Easy Talk</title>
    <meta name="description" content="">
    <meta name="author" content="codeJS">
    <meta name="viewport" content="width=1024, initial-scale=1.0">

    <link href="/img/logo-webrtc.png" type="image/png" rel="icon">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/github-gist.css" type="text/css" rel="stylesheet">
    <script src="/js/lib/inherit.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/eventemitter.js"></script>
    <script src="/js/lib/DetectRTC.js"></script>
    <script src="/js/utils.js"></script>
  </head>

  <body>
    <header>
      <h1>
        <a href="/" title="Easy Talk">
          <% if (title) { %> 《 <% } %>Easy Talk
        </a>

      </h1>

      </a>
    </header>
