<% include header %>

  <div id="content">
    <ul class="wrap-250">
      <li><a href="/speech-recognition">음식점검색</a></li>
      <li><a href="/speech-recognition">음성 인식</a></li>
      <li><a href="/speech-recognition">상용구설정</a></li>
      <li><a href="/speech-recognition">이용안내</a></li>
    </ul>
  </div>

